# This is a sample docker-compose file, Please follow the naming convention for the service and container name, all node
# names must begin with "Node" followed by their sequence number. For a three node cluster your service/container names
# should be Node1, Node2 and Node3 as shown below(for service names they will be lowercase). You can add additional
# parameters and configurations as required by your implementation.

version: "3.7"

services:
  node1:
    container_name: Node1
    image: raft
    build: Node/.
    ports:
      - "5000:5000"
    volumes:
      - .:/server
    environment:
      - contName=Node1
      - currentTerm=0
      - votedFor=''
      - log=[]
      - timeout_interval=600
      - heartbeat=200
      - currentRole=follower
      - totalDbRecords=0

  node2:
    container_name: Node2
    build: Node/.
    image: raft
    ports:
      - "5001:5001"
    volumes:
      - .:/server
    environment:
      - contName=Node2
      - currentTerm=0
      - votedFor=''
      - log=[]
      - timeout_interval=600
      - heartbeat=200
      - currentRole=follower
      - totalDbRecords=0

  node3:
    container_name: Node3
    image: raft
    build: Node/.
    ports:
      - "5002:5002"
    volumes:
      - .:/server
    environment:
      - contName=Node3
      - currentTerm=0
      - votedFor=''
      - log=[]
      - timeout_interval=600
      - heartbeat=200
      - currentRole=follower
      - totalDbRecords=0

  node4:
    container_name: Node4
    image: raft
    build: Node/.
    ports:
      - "5003:5003"
    volumes:
      - .:/server
    environment:
      - contName=Node4
      - currentTerm=0
      - votedFor=''
      - log=[]
      - timeout_interval=600
      - heartbeat=200
      - currentRole=follower
      - totalDbRecords=0

  node5:
    container_name: Node5
    image: raft
    build: Node/.
    ports:
      - "5004:5004"
    volumes:
      - .:/server
    environment:
      - contName=Node5
      - currentTerm=0
      - votedFor=''
      - log=[]
      - timeout_interval=600
      - heartbeat=200
      - currentRole=follower  
      - totalDbRecords=0

  #Do not change the part below
  controller:
    container_name: Controller
    build: Controller/.
    stdin_open: true

