<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <title>Phase-4 RAFT</title>
</head>

<body>

    <div class="container col-12">
        <h2 class="text-center display-2">User Data Form</h2>
        <div class="row">
            <div class="col-6 align-items-center border shadow rounded p-4 mt-4 ml-4 bg-white">
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="id">User ID</label>
                        <input type="text" id="id" name="id" class="form-control" placeholder="User ID"
                            value="{{request.form['id']}}" required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Full Name"
                            value="{{request.form['name']}}" required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="you@example.com"
                            value="{{request.form['email']}}" required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="row col-12">
                        <div class="col-7">

                        </div>
                        <div class="col-5">
                            <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block my-3">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-5">
                <div class="col d-flex justify-content-center">
                    <form action="/fetch" , method="post">
                        <input type="submit" value="Fetch Data" class="btn btn-primary btn-lg btn-block my-3"></button>
                    </form>
                </div>
                <div>
                    {% if displayRecord %}
                    <div class="overflow-auto">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for val in items %}
                                <tr>
                                    <td>{{val['id']}}</td>
                                    <td>{{val['name']}}</td>
                                    <td>{{val['email']}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>